<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/72056d3ac9.js" crossorigin="anonymous"></script>
    <style>
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #000;
        max-width: 40%;
      }
      #main{
        display: flex;
        flex-wrap: wrap;
      }
      .block{
        display:flex;
        justify-content: center;
      }
      .button1{
        margin: 0px 10px;
        width: 80px;
        color: white;
        border: none;
        height: 30px;
        border-radius: 10px;
      }
      .open-modal-button{
        background-color: green;
      }
      #button{
        background-color: red;
      }
      h3{
        font-weight: 500;
      }
      #responses-button{
        float: right;
        border-radius: 2px;
        margin: 10px 20px 0px 20px;
        padding: 10px;
        background-color: #F47458;
      }
      #responses-button a{
        text-decoration: none;
        color: white;
      }
      .button1 {
        margin: 0px 10px;
        width: 80px;
        color: white;
        border: none;
        height: 30px;
        border-radius: 10px;
      }
      #button{
        background-color: red;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin: 0px 10vh;
      }
      th, td ,tr{
        padding: 10px;
        border: 1px solid white !important;
        color: whitesmoke;
      }
      th {
        background-color: #0077b6;
        color: #fff;
      }
      .table-row {
          background-color: #fff;
      }
      .table-row:nth-child(odd) {
          background-color: #f2f2f2;
      }
      .table-row:hover {
          background-color: #d2d2d2;
      }
      #tags{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      #res{
        margin-top: 10px;
        color: white;
        text-align: center;
      }
    </style>
</head>
<body>
  <%- include('facultyheader',{name:name}); -%>
  <p id="res"><b>List of Responses</b></p>
  <div id="main">
    <table>
      <tr>
        <th>Regd-No</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Response</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    <% if (locals.names) { %>
        <% for (var i = 0; i < names.length; i++) { %>
          <tr>
          <div id="doubts">
            <td><%=names[i].name%></td>
            <td><%=names[i].sub%></td>
            <td><%=names[i].description%></td>
            <td><%=names[i].response%></td> 
            <div class="modal" id="replyModal<%= i %>">
              <div class="modal-content">
                <div id="tags">
                  <div class="reply">Reply to <%= names[i].name %></div>
                  <div class="bin"><a href="/facultymembers"><i class="fa-solid fa-xmark" style="color: #000000;"></i></a></div>
                </div>
                <form action="/Editqueryreply" method="POST">
                  <input type="hidden" name="name" value="<%= names[i].name %>">
                  <input type="hidden" name="sub" value="<%= names[i].sub %>">
                  <input type="hidden" name="description" value="<%=names[i].description%>">
                  <input type="hidden" name="id" value="<%=names[i].id%>">
                  <textarea rows="4" cols="50" name="response" id="disvalue"></textarea><br>
                  <input type="submit" value="Send">
                </form>
              </div>
            </div>
            <div class="block">
            <td>
              <form action="/Editdelete" method="POST">
                <input type="hidden" name="id" value="<%=names[i].id%>">
                <input type="hidden" name="name" value="<%=names[i].name%>">
                <input type="submit" value="Delete" class="button1" id="button">
              </form>
            </td>
            <td><button class="open-modal-button button1" data-target="replyModal<%= i %>">Edit</button></td>
            </div>
          </div>
          <%}%>
          <% }%>
        </table>
  </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const openModalButtons = document.querySelectorAll(".open-modal-button");
            openModalButtons.forEach(function (button) {
            button.addEventListener("click", function () {
              const targetModalId = button.getAttribute("data-target");
              const modal = document.getElementById(targetModalId);
                if (modal) {
                modal.style.display = modal.style.display === "block" ? "none" : "block";
              }
            });
          });
        });
      </script>
      
</body>
</html>